 #root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  overflow: hidden;
}


.sidebar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.sidebar-hidden {
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.custom-input::placeholder {
  color: rgba(21, 21, 21, 0.5); /* Change this to your desired color */
  font-size: 12px; /* Change this to your desired font size */
}


.no-focus:hover,
.no-focus:focus {
  border-color: transparent !important; /* Remove border color on hover and focus */
  box-shadow: none !important; /* Remove box shadow on focus */
}

.no-focus .ant-upload {
  border-color: transparent !important; /* Remove border color on hover */
}

.no-focus .ant-upload:hover {
  border-color: transparent !important; /* Remove border color on hover */
}





/* add caluculator */


.addCalc-input ::placeholder {
    color: rgba(21, 21, 21, 0.5); /* Tailwind's gray-500 color */
    
  
}

/* src/App.css */

.addCalc-input {
  border: 1px solid gray !important; /* Set the initial border color */
  box-shadow: none !important; /* Remove box shadow */
  outline: none !important; /* Remove outline */
}

.addCalc-input:hover,
.addCalc-input:focus {
  border-color: gray !important; /* Keep the border color the same on hover and focus */
  box-shadow: none !important; /* Ensure no box shadow on focus */
  outline: none !important; /* Remove outline on focus */
}


/* src/App.css */

input.addCalc-input {
  border: 1px solid gray !important; /* Set the initial border color */
  box-shadow: none !important; /* Remove box shadow */
  outline: none !important; /* Remove outline */
}

input.addCalc-input:hover,
input.addCalc-input:focus {
  border-color: gray !important; /* Keep the border color the same on hover and focus */
  box-shadow: none !important; /* Ensure no box shadow on focus */
  outline: none !important; /* Remove outline on focus */
}




/* Add this to your specific component CSS file */
.custom-textarea {
  border: 1px solid gray; /* Set the border color */
  box-shadow: none; /* Remove box shadow */
  outline: none; /* Remove outline */
}

.custom-textarea:hover,
.custom-textarea:focus {
  border-color: gray; /* Keep the border color the same on hover and focus */
  box-shadow: none; /* Ensure no box shadow on focus */
  outline: none; /* Remove outline on focus */
}
/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


