@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global CSS file */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Ensure the font is applied globally or to specific elements */
/* body {
  font-family: 'Poppins', sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
    /* overflow: auto !important; */
  body {
    font-family: 'Poppins' !important;
    /* overflow: hidden !important; */
    overflow-y: hidden;
  }
 
   
}
@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

.ant-btn-primary {
  &:hover,
  &:focus {
    background-color: #E81E1E !important;  
    border-color: #E81E1E !important;
  }
}
.ant-upload-wrapper {
  .ant-btn {
    &:hover,
    &:focus {
      color: #6B7280 !important; 
      border-color: #D1D5DB !important; 
    }

    &:focus-visible {
      outline: none;
      box-shadow: none !important;
    }
  }
}

.sidebar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.sidebar-hidden {
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Add this to your specific component CSS file */
.custom-textarea {
  border: 1px solid gray; /* Set the border color */
  box-shadow: none; /* Remove box shadow */
  outline: none; /* Remove outline */
}

.custom-textarea:hover,
.custom-textarea:focus {
  border-color: gray; /* Keep the border color the same on hover and focus */
  box-shadow: none; /* Ensure no box shadow on focus */
  outline: none; /* Remove outline on focus */
}



